In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("CO_df.csv", delimiter=',')

In [4]:
data.head()

,swe_23,cswe_23,sd_23,csd_23,oat_23,swe_33,cswe_33,sd_33,csd_33,oat_33,...,swe_854,cswe_854,sd_854,csd_854,oat_854,swe_866,cswe_866,sd_866,csd_866,oat_866
0,30.7,0.4,79,1,32,13.0,-0.4,32,-2,30,...,22.3,0.0,61,1,34,0.0,0.0,0,0,38
1,31.5,0.8,82,3,34,12.4,-0.6,29,-3,38,...,22.1,-0.2,57,-4,41,0.0,0.0,0,0,47
2,32.3,0.8,87,5,27,12.1,-0.3,29,0,31,...,22.8,0.7,61,4,31,0.0,0.0,0,0,40
3,32.9,0.6,87,0,23,12.1,0.0,29,0,30,...,23.4,0.6,62,1,25,0.0,0.0,0,0,41
4,33.4,0.5,86,-1,32,11.6,-0.5,27,-2,42,...,23.3,-0.1,57,-5,38,0.0,0.0,0,0,45